<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<clear />-->
    <!-- <add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />-->
    <!-- <add key="net9" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet9/nuget/v3/index.json" /> -->
    <!-- <add key="local" value="D:\Temp\NetCoreApp\packages" /> -->
    <!-- <add key="machinelearning" value="C:\oss\machinelearning\artifacts\packages\Release\Shipping" /> -->
    <!-- <add key="runtime" value="C:\oss\runtime\artifacts\packages\Release\Shipping" />  -->
    <add key="extensions" value="C:\oss\extensions\artifacts\packages\Release\Shipping" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
